body {
	font-family: 'JetBrains Mono', monospace;
}

.button {
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

@layer utilities {
	.writing-mode-vertical-lr {
		writing-mode: vertical-lr;
	}

	.text-shadow {
		text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
	}

}